/* Poner aquí los estilos que se requieran generales en la aplicación */


.n-step--process-status{
    --n-indicator-color:#039be5 !important;
    --n-indicator-border-color:#007bff !important;
}
.n-step--finish-status{
    --n-indicator-border-color:#039be5!important;
    --n-indicator-text-color:#039be5 !important;
}
.n-step--finish-status .n-step-splitor{
 --n-splitor-color:#039be5;
}